.header {
    height: 34vw;
    margin: 30px auto;
    background: url('./header_img.png') no-repeat center center; /* Keep background centered */
    background-size: cover; /* Cover the entire header */
    position: relative;
    display: flex;  /* Flexbox for layout control */
    justify-content: flex-start; /* Align content to the left */
    padding-left: 6vw; /* Create some space on the left for text */
    border-radius: 15px; /* Apply border radius to the background */
    overflow: hidden; /* Ensure background stays within rounded corners */
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
    position: relative;
    z-index: 2; /* Lower z-index */    
}

.header-contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: start; /* Keep text aligned to the left */
    gap: 1.5vw;
    max-width: 50%;
    padding-top: 5vw; /* Add padding to create space from the top */
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}

.header-contents p {
    color: white;
    font-size: 1vw;
    line-height: 1.5vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,3px);
    border-radius: 15px;
}
